<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="quartzClock"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
			<value>common.TestTimeTask</value>
		</property>
	</bean>

	<bean id="cronQuartzClock"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="quartzClock"></property>
		<property name="cronExpression">
			<value>0,10,20,30,40,50 * * * * ?</value>
			<!-- 上面设置每一分钟的10秒就执行一次！！ -->
			<!--   秒  份  时 日 月 星期 年  -->
			<!-- 区间   *通配/每天/月/年  ?                                     
			-->
		</property>
	</bean>

	<bean
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronQuartzClock" />
			</list>
		</property>
	</bean>

</beans>